{% extends 'portfolio/layout.html' %}
{% load static %}
{% block head %}
<title>Adiciona Conteudos</title>
<link rel="stylesheet" href="{% static 'css/conteudos.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block main %}

    <div class="tabbed-form">
        <ul class="tab-menu">
          <li><a href="#" onclick="openTab('tab1')">Licenciatura</a></li>
          <li><a href="#" onclick="openTab('tab2')">Hobby</a></li>
          <li><a href="#" onclick="openTab('tab3')">Projeto</a></li>
          <li><a href="#" onclick="openTab('tab4')">Front-end</a></li>
          <li><a href="#" onclick="openTab('tab5')">Back-end</a></li>
        </ul>

        <div id="tab1" class="tab">
          <h2>Adicionar Cadeira</h2>
          <form action="{% url 'portfolio:adiciona' 'cadeira' %}" method="POST">
            {% csrf_token %}
            {{ cadeira.as_table }}
            <button type="submit">Criar</button>
          </form>

          <h3>Dados Existentes</h3>
          <ul>
            {% for dado in dados_cadeira %}
              <li>{{ dado.ano }} - {{ dado.semestre }} - {{ dado.disciplina }} - {{ dado.estado }}</li>
              <a href="{% url 'portfolio:edita' 'cadeira' dado.id %}" class="btn btn-warning  btn-sm">Editar</a>
              <a href="{% url 'portfolio:apaga' 'cadeira' dado.id %}" role="button" class="btn btn-danger">Apagar</a>
            {% endfor %}
          </ul>
        </div>

        <div id="tab2" class="tab">
          <h2>Adicionar Hobby</h2>
          <form action="{% url 'portfolio:adiciona' 'hobby' %}" method="POST">
            {% csrf_token %}
            {{ hobby.as_table }}
            <button type="submit">Criar</button>
          </form>

          <h3>Dados Existentes</h3>
          <ul>
            {% for dado in dados_hobby %}
              <li>{{ dado.categoria }} - {{ dado.descricao }}
                  <a href="{% url 'portfolio:edita' 'hobby' dado.id %}" class="btn btn-warning  btn-sm">Editar</a>
                  <a href="{% url 'portfolio:apaga' 'hobby' dado.id %}" role="button" class="btn btn-danger">Apagar</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div id="tab3" class="tab">
          <h2>Adicionar Projeto</h2>
          <form action="{% url 'portfolio:adiciona' 'projeto' %}" method="POST">
            {% csrf_token %}
            {{ projeto.as_p }}
            <button type="submit">Criar</button>
          </form>

          <h3>Dados Existentes</h3>
          <ul>
            {% for dado in dados_projeto %}
              <li>{{ dado.nome }}</li>
              <a href="{% url 'portfolio:edita' 'projeto' dado.id %}" class="btn btn-warning  btn-sm">Editar</a>
              <a href="{% url 'portfolio:apaga' 'projeto' dado.id %}" role="button" class="btn btn-danger">Apagar</a>
            {% endfor %}
          </ul>
        </div>

        <div id="tab4" class="tab">
          <h2>Adicionar Front-end</h2>
          <form action="{% url 'portfolio:adiciona' 'frontend' %}" method="post">
            {% csrf_token %}
            {{ frontend.as_p }}
            <button type="submit">Criar</button>
          </form>

          <h3>Dados Existentes</h3>
          <ul>
            {% for dado in dados_frontend %}
              <li>{{ dado.nome }} - {{ dado.descricao }}</li>
              <a href="{% url 'portfolio:edita' 'frontend' dado.id %}" role="button" class="btn btn-warning  btn-sm">Editar</a>
              <a href="{% url 'portfolio:apaga' 'frontend' dado.id %}" role="button" class="btn btn-danger">Apagar</a>
            {% endfor %}
          </ul>
        </div>

        <div id="tab5" class="tab">
          <h2>Adicionar Back-end</h2>
          <form action="{% url 'portfolio:adiciona' 'backend' %}" method="post">
            {% csrf_token %}
            {{ backend.as_p }}
            <button type="submit">Criar</button>
          </form>

          <h3>Dados Existentes</h3>
          <ul>
            {% for dado in dados_backend %}
              <li>{{ dado.nome }} - {{ dado.descricao }}</li>
              <a href="{% url 'portfolio:edita' 'backend' dado.id %}" class="btn btn-warning  btn-sm">Editar</a>
              <a href="{% url 'portfolio:apaga' 'backend' dado.id %}" role="button" class="btn btn-danger">Apagar</a>
            {% endfor %}
          </ul>
        </div>
    </div>

  <script>
      function openTab(tabName) {
        let i, tabContent;
        tabContent = document.getElementsByClassName("tab");
        for (i = 0; i < tabContent.length; i++) {
          tabContent[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
      }
  </script>
{% endblock %}
