{% extends 'portfolio/layout.html' %}
{% load static %}
{% block head %}
    <title>Backend</title>
    <link rel="stylesheet" href="{% static 'css/backend.css' %}">
{% endblock %}

{% block main %}
    <h1>Backend</h1>

    <table class="tabelaOutros">
        <thead>
        <tr class="header-tr">
            <th>Linguagem</th>
            <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        {% for item in backend %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.descricao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}