{% extends 'portfolio/layout.html' %}
{% load static %}
{% block head %}
    <title>Currículo</title>
    <link rel="stylesheet" href="{% static 'css/curriculo.css' %}">
{% endblock %}

{% block main %}
    <div class="tabbed-form">
        <ul class="tab-menu">
            <li><a href="#" onclick="openTab('tab1')">Profissional</a></li>
            <li><a href="#" onclick="openTab('tab2')">Académico</a></li>
            <li><a href="#" onclick="openTab('tab3')">Certificações</a></li>
            <li><a href="#" onclick="openTab('tab4')">Skills</a></li>
        </ul>

        <div id="tab1" class="tab">
            <h2>Profissional</h2>
            {% for item in profissional %}
                <h3>{{ item.nome }}</h3>
                <div>
                    <p>Período: {{ item.dataInicio }} - {{ item.dataFim }}</p>
                    <p>{{ item.descricao | safe }}</p>
                    {% if item.pdfFile %}
                    <a target="_blank" href="{{ item.pdfFile.url }}">PDF</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="tab2" class="tab">
            <h2>Académico</h2>
            {% for item in academico %}
                <h3>{{ item.nome }}</h3>
                <div>
                    <p>Período: {{ item.dataInicio }} - {{ item.dataFim }}</p>
                    <p>{{ item.descricao | safe }}</p>
                    {% if item.pdfFile %}
                    <a target="_blank" href="{{ item.pdfFile.url }}">PDF</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="tab3" class="tab">
            <h2>Certificações</h2>
            {% for item in certificacoes %}
                <h3>{{ item.nome }}</h3>
                <div>
                    <p>Período: {{ item.dataInicio }} - {{ item.dataFim }}</p>
                    <p>{{ item.descricao | safe }}</p>
                    {% if item.pdfFile %}
                    <a target="_blank" href="{{ item.pdfFile.url }}">PDF</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div id="tab4" class="tab">
            <h2>Skills</h2>
            <div class="table-container">
                <div class="table-row">
                    {% for skill in skills %}
                        <div class="table-cell">
                            <div class="skill-container">
                                <img src="../static/images/{{ skill.imagem }}" alt="{{ skill.nome }}">
                                {% if skill.rating == 5 %}
                                    <img class="rating" src="{% static 'images/5_star_rating.svg' %}">
                                {% elif skill.rating == 4 %}
                                    <img class="rating" src="{% static 'images/4_star_rating.svg' %}">
                                {% elif skill.rating == 3 %}
                                    <img class="rating" src="{% static 'images/3_star_rating.svg' %}">
                                {% elif skill.rating == 2 %}
                                    <img class="rating" src="{% static 'images/2_star_rating.svg' %}">
                                {% elif skill.rating == 1 %}
                                    <img class="rating" src="{% static 'images/1_star_rating.svg' %}">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <script>
        function openTab(tabName) {
            let i, tabContent;
            tabContent = document.getElementsByClassName("tab");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }
    </script>
{% endblock %}