{% extends 'portfolio/layout.html' %}
{% load static %}
{% block head %}
    <title>Meterologia</title>
    <link rel="stylesheet" href="{% static 'css/meteorologia.css' %}">
{% endblock %}

{% block main %}
    <div class="container-principal">
        <form method="get" action="">
            <div class="card">
                <div class="card-header bg-dark">Procurar condições meteorológicas</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-location-arrow"></i></span>
                            <input type="text" name="location" class="form-control" placeholder="Cidade">
                        </div>
                        <input type="submit" class="btn btn-outline-light mt-3" value="Search">
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if region %}
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark">
                    Estado do tempo em {{ region }}
                </div>
                <ul class="list-group">
                    <ul class="list-group-item">Dia: {{ daytime }}</ul>
                    <ul class="list-group-item">Temperatura: {{ temperature }} {{ unit }}</ul>
                    <ul class="list-group-item">Estado: {{ status }}</ul>
                </ul>
            </div>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}