{% extends 'portfolio/layout.html' %}
{% load static %}
{% block head %}
<title>Projetos</title>
<link rel="stylesheet" href="{% static 'css/projetos.css' %}">
{% endblock %}

{% block main %}
    <h1>Projetos</h1>

    <table class="tabela1ano">
        <thead>
            <tr class="header-tr">
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
        {% for projeto in projetos %}
            <tr>
              <td>{{ projeto.nome }}</td>
              <td>{{ projeto.descricao | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}