body {
    background-image: url('../images/meteo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 60px;
    background-color: transparent;
}

form {
    border-radius: 10px;
}

/* Adjust the card size */
.card {
    width: 100%;
    max-width: 60em;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Card header styles */
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Card body styles */
.card-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Form input styles */
.form-control {
    border-radius: 5px;
    border: 2px solid;
    padding: 10px;
    background-color: white;
}

/* Search button styles */
.btn-outline-light {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.btn:hover {
    background-color: #0069d9;
}

/* Weather card styles */
.card-header.bg-dark {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    border-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.input-group {
    display: inline;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 2em;
}